header {
    background-color: rgb(66, 66, 246);
    background-image: url(../img/pattern.png);
}

figure {
    margin: 0;
}

/* ul {
    padding: 0;
} */

.intestazione-tab {
    background-color: blueviolet;
}

.azzurrino {
    background-color: aquamarine;
}

h5 {
    color: grey;
}

#img-viola {
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    height: 208px;
    color: white;
}

#img-nera {
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    height: 207px;
    color: white;
}